html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.graphics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.graphics__canvas {
    width: 500px;
    height: 500px;
}
.graphics__title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 3rem;
}
.graphics__canvas {
    border: 1px solid black;
}

@media screen and (max-width: 1040px) {
    .graphics__canvas {
        width: 50vw;
        height: 50vw;
    }
}

@media screen and (max-width: 568px) {
    .graphics__canvas {
        width: 70vw;
        height: 70vw;
    }

}
@media screen and (max-width: 425px) {
    .graphics__canvas {
        width: 90vw;
        height: 90vw;
    }

}