.program {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
    margin: 0;
}
.loading {
    cursor: progress;
}
.interface {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.interface__title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 3rem;
}
.mode__selector-container {
    padding-bottom: 30px;
}
.equation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.equation__input {
    width: 250px;
    font-size: 1.5rem;
}
.equation__container {
    margin-bottom: 10px;
}
.equation__button {
    width: 200px;
    padding: 10px;
    cursor: pointer;
}
.equation__select {
    width: 255px;
    font-size: 1.5rem;
}
.results {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
}
.results__title {
    font-size: 2rem;
    text-align: center;
}
.result__container {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 1rem;
}
.input__sum-result {
    margin-left: 10px;
}

.hide__container {
    display: none;
}


@media screen and (max-width: 1040px) {
    .equation {
        width: 300px;
    }
    .interface__title {
        font-size: 2rem;
    }
    .results {
        width: 300px;
    }
    .results__title {
        font-size: 1rem;
        text-align: left;
    }
    .result {
        font-size: 1rem;
    }
    .input__sum-result {
        font-size: 1rem;
        font-weight: bold;
    }
    .equation__input {
        width: 150px;
        font-size: 1rem;
    }
    .equation__select {
        width: 155px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 568px) {
    
    .program {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 50px 0;
    }
    .interface {
        align-items: center;
    }

}

@media screen and (max-width: 425px) {
    .equation__input {
        width: 250px;
        font-size: 1.5rem;
    }
    .equation__select {
        width: 255px;
        font-size: 1.5rem;
    }

}
/* @media screen and (max-width: 1040px) { */
